.cookie-bubble{position:fixed;width:100%;max-width:400px;min-height:100px;background-color:#fff;box-shadow:var(--box-shadow);z-index:990;border-radius:6px}
.cookie-bubble.bottom-right{right:15px;bottom:15px}
.cookie-bubble.bottom-left{left:15px;bottom:15px}
.cookie-bubble.show.bottom-left,.cookie-bubble.show.bottom-right{-webkit-animation-name:popInBottom;animation-name:popInBottom;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-timing-function:cubic-bezier(.19,1,.22,1);animation-timing-function:cubic-bezier(.19,1,.22,1);-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
.cookie-bubble.hide{display:none}
.cookie-bubble .cb-wrapper{position:relative;display:inline-block;padding:15px}
.cookie-bubble .cb-wrapper .cb-row{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;text-align:left}
.cookie-bubble .cb-wrapper .cb-row .cb-row-content .message{position:relative;width:100%;display:inline-block;font-size:15px;color:var(--text-color);margin-top:0}
.cookie-bubble .cb-wrapper .cb-row .cb-row-content .cb-controls{position:relative;width:100%;float:left;margin-top:15px}
.cookie-bubble .cb-wrapper .cb-row .cb-image{padding-right:23px}
.cookie-bubble .cb-wrapper .cb-row .cb-image .cookie-inner-color{fill:var(--green-color)}
.cookie-bubble .cb-wrapper .cb-row .cb-image svg{width:60px}
.cookie-bubble .cb-wrapper .cb-row .agreement-btn{float:left;background-color:var(--green-color);font-family:inherit;font-size:14px;color:#fff;text-decoration:none;opacity:1;border:none;cursor:pointer;font-weight:500;padding:10px 20px;margin:0 10px 0 0;border-bottom:2px solid rgba(0,0,0,0.1);border-radius:6px}
.cookie-bubble .cb-wrapper .cb-row .agreement-btn:hover{background-color:var(--green-hover-color)}
.cookie-bubble .cb-wrapper .cb-row .cookie-policy-btn{float:left;color:var(--blue-color);padding:10px 0;font-size:14px;opacity:.95;border:none;cursor:pointer;font-weight:400;margin:0}
.cookie-bubble .cb-wrapper .cb-row .cookie-policy-btn:hover{opacity:1;text-decoration:underline}
@-webkit-keyframes popInBottom {
0%{-webkit-transform:translateY(120%);transform:translateY(120%)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes popInBottom {
0%{-webkit-transform:translateY(120%);transform:translateY(120%)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
